<body>

	<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

 <h4>Title:</h4>
 <p><%= @book.title %></p>


 <h4>Body:</h4>

 

 <p><%= @book.body %></p>

 <%= link_to "Edit", edit_book_path %>
 <%= link_to "Back", books_path %>



</body>



